# Visual Studio related
.vs/
*.user
*.suo
bin/
obj/

# Windows specific files
*.exe
*.dll
*.pdb
*.cache
*.log

# Firebase or other package-related files
Packages/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
coverage/